{
  "$schema": "./node_modules/wrangler/config-schema.json",
  "name": "__EXISTING_WORKER_NAME__",
  "main": "src/worker.js",
  "compatibility_date": "2026-09-11",
  "observability": {
    "enabled": true
  },
  "d1_databases": [
    {
      "binding": "DB",
      "database_name": "__D1_DATABASE_NAME__",
      "database_id": "__D1_DATABASE_ID__"
    }
  ],
  "r2_buckets": [
    {
      "binding": "R2",
      "bucket_name": "__R2_BUCKET_NAME__"
    }
  ]
}
